<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="cn" connectionString="server=JULLSRODRIGUEZ;Initial Catalog=helpnet;Integrated Security=SSPI;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EnlaceHTTP" closeTimeout="00:10:00"
                 maxReceivedMessageSize="65536"
                 maxBufferSize="65536" 
                  messageEncoding="Text" textEncoding="utf-8"></binding>
      </basicHttpBinding>
      <webHttpBinding >
        <binding name="EnlaceHTTPRest"
                 closeTimeout="00:10:00"
                 crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>
    <services>
      <!-- service cliente-->
      <service name="ComercialCreditoImplementacion.ClienteService"
               behaviorConfiguration="ServiceBehavior" >
        <!--cliente soap-->
        <endpoint address=""
                  binding="basicHttpBinding" 
                  bindingConfiguration="EnlaceHTTP" 
                  contract="ComercialCreditoContrato.IClienteService">
          
        </endpoint>
        <!--cliente rest-->
        <endpoint address="rest"
          binding="webHttpBinding"
          bindingConfiguration="EnlaceHTTPRest"
          contract="ComercialCreditoContrato.IClienteService"
          behaviorConfiguration="webREST" >

        </endpoint>
        
      </service>
      
    </services>
    
    
    
    
    
    <behaviors>
      <!-- para agregar la ayuda a rest-->
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <!--fin -->
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
